<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Amicale Ivoiro-Canadienne de Québec fait un bond 2.0 .">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Amicale Ivoiro-Canadienne de Québec</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <link rel="stylesheet" href="{% static 'css/fluidable-min.css' %}">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</head>
<body style="background-color:{% block body_color %}white{% endblock body_color %};">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
{% block page %}

{% endblock page %}
</div>
{% block bottom_scripts %}

{% endblock bottom_scripts %}
</body>
</html>