<!-- titre du texte -->
<section class="mbr-section" >
    <div class="mbr-section__container container mbr-section__container--first">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="mbr-header__text">{{title}}</h3>
                <p class="mbr-header__subtext">Par {{author}} publié le {{pub_date}}</p>
            </div>
        </div>
    </div>
</section>
<!-- corps du texte -->
<section class="mbr-section" >
    <div class="mbr-section__container container mbr-section__container--last">
        <div class="row">
            <div class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2">
                <p>{{content}}</p>
            </div>
        </div>
    </div>
</section>