<!DOCTYPE html>
<html>
<head>
  {% include 'home/head.html' %}
{% block head_scripts %}
  <script src="https://use.fontawesome.com/f46f0dfcfe.js"></script>
{% endblock %}
</head>
<body>
{% include 'home/navbar.html' %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-after-navbar" id="header1-10" style="background-color: rgb(65, 168, 95);">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
        
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched">
                <div class="mbr-box__magnet mbr-box__magnet--center-left">
                    <div class="row">
                        <div class=" col-sm-6 col-sm-offset-6">
                            <div class="mbr-hero animated fadeInUp">
                                <h1 class="mbr-hero__text">
                                    <i class="fa fa-2X fa-newspaper-o"></i>&nbsp;<a href="{% url 'home:news' %}">Nouvelles</a><br><br>
                                    <i class="fa fa-2X fa-archive"></i>&nbsp;<a href="">Procès verbaux des réunions</a></h1>
                                <p class="mbr-hero__subtext">&nbsp;</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-arrow mbr-arrow--floating text-center">
            <div class="mbr-section__container container">
                <a class="mbr-arrow__link" href="{% url 'home:news' %}"><i class="glyphicon glyphicon-menu-down"></i></a>
            </div>
        </div>
    </div>
</section>

{% include 'home/footer.html' %}
  
  
</body>
</html>