{% load static from staticfiles %}
<footer class="mbr-section mbr-section--relative mbr-section--fixed-size" id="footer1-11" style="background-color: rgb(68, 68, 68);">
    
    <div class="mbr-section__container container">
        <div class="mbr-footer mbr-footer--wysiwyg row" style="padding-top: 36.900000000000006px; padding-bottom: 36.900000000000006px;">
            <div class="col-sm-12">
                <p class="mbr-footer__copyright">Copyright (c) 2016 AMICQ </p>
            </div>
        </div>
    </div>
</footer>
{% include "home/scripts.html" %}