<!DOCTYPE html>
<html>
<head>
   {% load static from staticfiles %}
  {% include 'home/head.html' %}

</head>
<body>
{% include 'home/navbar.html' %}

<section class="engine"></section><section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background mbr-after-navbar" id="header1-13" style="background-image: url(assets/images/img-0086-2592x1936-27.jpg);">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
        
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
                <div class="row"><div class=" col-sm-12">
                    <div class="mbr-hero animated fadeInUp">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
                                <div class="mbr-header mbr-header--center mbr-header--std-padding">
                                    <h2 class="mbr-header__text" style="color: black; margin-top:70px">Formulaire d'inscription</h2>
                                </div>
                                <div data-form-alert="true">
                                    <div class="hide" data-form-alert-success="true">Super!</div>
                                </div>
                                <form action="#" method="post" data-form-title="Formulaire d'inscription">
                                    <input type="hidden" value="X+0zahVgIqHfk8yZPLARdTFr8XM/S/dCH+nHk2iM1YDMv+W5uA0jCWYZf8xfu/eS8OxLNo+QoRaXiTpSoPUGUdo3GEhC4KlNXUM9bfCE/eEzqvSGSOYsGyu8Len+Zlom" data-form-email="true">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" required="" placeholder="Nom" data-form-field="Nom">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" required="" placeholder="Email*" data-form-field="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" class="form-control" name="phone" placeholder="Téléphone" data-form-field="Phone">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="profes" required="" placeholder="Profession" data-form-field="Profession">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="7" placeholder="Petite présentation (optionnel)" data-form-field="Message"></textarea>
                                    </div>
                                    <div class="mbr-buttons mbr-buttons--right"><button type="submit" class="mbr-buttons__btn btn btn-lg btn-danger">SOUMETTRE</button></div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                    
                </div></div>
            </div></div>
        </div>

    </div>
</section>

{% include 'home/footer.html' %}
<script src="{% static 'home/formoid/formoid.min.js' %}"></script>

</body>
</html>