{% load static from staticfiles %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/static/home/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  <title>AMICQ</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese">
  <link rel="stylesheet" href="{% static 'home/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'home/animate.css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'home/mobirise/css/style.css' %} ">
  <link rel="stylesheet" href="{% static 'home/dropdown-menu-plugin/style.css' %}">
  <link rel="stylesheet" href="{% static 'home/mobirise/css/mbr-additional.css' %}" type="text/css">

  <link rel="stylesheet" href="{% static 'home/mobirise-slider/style.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/custom.css' %}">
{% block head_scripts %}

{% endblock %}