<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/static/home/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  <title>AMICQ</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&amp;subset=cyrillic,latin,greek,vietnamese">
  
  <link rel="stylesheet" href="{% static 'home/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'home/animate.css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'home/mobirise/css/style.css' %} ">
  <link rel="stylesheet" href="{% static 'home/dropdown-menu-plugin/style.css' %}">
  <link rel="stylesheet" href="{% static 'home/mobirise/css/mbr-additional.css' %}" type="text/css">

  <link rel="stylesheet" href="{% static 'home/mobirise-slider/style.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/custom.css' %}">
</head>
<body>
{% include 'home/navbar.html' %}

<section class="mbr-slider mbr-section mbr-section--no-padding carousel slide" data-ride="carousel" data-wrap="true" data-interval="5000" id="slider-15" style="background-color: rgb(255, 255, 255);">
    <div class="mbr-section__container">
        <div>
            <ol class="carousel-indicators">
                <li data-app-prevent-settings="" data-target="#slider-15" class="active" data-slide-to="0"></li><li data-app-prevent-settings="" data-target="#slider-15" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider-15" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height active" style="background-image: url(/static/home/images/img-0769-2592x1936-98-2000x1494-19.jpg);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-center mbr-box__magnet--sm-padding mbr-after-navbar">
                        <div class="mbr-overlay" style="opacity: 0.6;"></div>
                        <div class=" container">
                            
                            <div class="row">
                                <div class=" col-md-8 col-md-offset-2">  

                                <div class="mbr-hero">
                                    <h1 class="mbr-hero__text" style="font-weight:400">Bienvenue sur le site de <br>
                                        <span style="font-weight:600">l'Amicale Ivoiro-Canadienne de Québec</span>
                                    </h1>

                                    
                                </div>
                                <div class="mbr-buttons btn-inverse mbr-buttons--center"> <a class="mbr-buttons__btn btn btn-lg btn-default" href="/formulaire">REJOIGNEZ L'AMICALE</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(/static/home/images/img-0086-2592x1936-27-2000x1494-59.jpg);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-left mbr-box__magnet--sm-padding mbr-after-navbar">
                        <div class="mbr-overlay" style="opacity: 0.6;"></div>
                        <div class=" container">
                            
                            <div class="row">
                                <div class=" col-md-6 col-md-offset-1">  

                                <div class="mbr-hero">
                                    

                                    
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(/static/home/images/img-0861-2592x1936-36-2000x1494-52.jpg);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-center mbr-box__magnet--sm-padding mbr-after-navbar">
                                            
                        <div class=" container">
                            
                            <div class="row">
                                <div class=" col-md-8 col-md-offset-2">  

                                <div class="mbr-hero">
                                    

                                    
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-15">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-15">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </div>
</section>

{% include 'home/footer.html' %}
  
  
</body>
</html>