<!DOCTYPE html>
<html>
<head>
  {% include 'home/head.html' %}
{% block head_scripts %}
  <script src="https://use.fontawesome.com/f46f0dfcfe.js"></script>
{% endblock %}
</head>
<body>
{% include 'home/navbar.html' %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-after-navbar" id="header1-7" style="background-color: rgb(61, 142, 185);">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
        
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
                <div class="row"><div class=" col-sm-6 col-sm-offset-6">
                    <div class="mbr-hero animated fadeInUp">
                        <h1 class="mbr-hero__text">
                            <span>Courriel:</span><br>
                            <a target="_blank" href="mailto:info@amicq.ca">info@amicq.ca</a><br><br>
                            <span>Réseaux sociaux:</span><br>
                            <i class="fa fa-facebook-official"></i>
                            <a href="https://www.facebook.com/groups/309940995751320/" target="_blank">
                                Groupe Facebook de l'AMICQ
                            </a>
                            <br><br><br>
                        </h1>
                        
                    </div>
                    
                </div></div>
            </div></div>
        </div>
        {% comment %}
        <div class="mbr-arrow mbr-arrow--floating text-center">
            <div class="mbr-section__container container">
                <a class="mbr-arrow__link" href="#footer1-8"><i class="glyphicon glyphicon-menu-down"></i></a>
            </div>
        </div>
        {% endcomment %}
    </div>
</section>

{% include 'home/footer.html' %}
  
</body>
</html>