<!DOCTYPE html>
<html>
<head>
  {% include 'home/head.html' %}

</head>
<body>
{% include 'home/navbar.html' %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-after-navbar" id="header1-4" style="background-color: rgb(247, 218, 100);">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
        
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
                <div class="row"><div class=" col-sm-6 col-sm-offset-6">
                    <div class="mbr-hero animated fadeInUp">
                        <h1 class="mbr-hero__text">Mission<br><br>Mot du Président</h1>
                        
                    </div>
                    
                </div></div>
            </div></div>
        </div>
        <div class="mbr-arrow mbr-arrow--floating text-center">
            <div class="mbr-section__container container">
                <a class="mbr-arrow__link" href="#sectionMission"><i class="glyphicon glyphicon-menu-down"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="mbr-box mbr-section mbr-section--relative" id="sectionMission">
    <div class="container">
        <div class="mbr-box__magnet mbr-box__magnet--sm-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1 class="text-left">Missions</h1>
                    </div>
                    <ul class="list-group text-left" style="font-weight: 400; font-size:1.5em;">
                        <li class="list-group-item">Favoriser le rapprochement et l’approfondissement des relations entre les ivoiriens résidant à Québec et avec toute autre personne vivant à Québec ayant un intérêt en Côte d’ivoire ou pour la Côte d’ivoire</li>
                        <li class="list-group-item">Accueillir les nouveaux arrivants ivoiriens (immigrants, travailleurs, étudiants, etc.) à Québec, les orienter et les accompagner dans les premières démarches administratives</li>
                        <li class="list-group-item">Faciliter l’insertion de ses membres sur le marché du travail</li>
                        <li class="list-group-item">Promouvoir l’entraide et la solidarité dans la communauté ivoirienne à Québec</li>
                        <li class="list-group-item">Favoriser un brassage socioculturel avec la communauté québécoise et faire connaitre la côte d’ivoire en son sein</li>
                        <li class="list-group-item">Contribuer au développement socioéconomique du Québec et de la Côte d’ivoire</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'home/footer.html' %}
  
</body>
</html>