<section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--transparent mbr-navbar--sticky mbr-navbar--auto-collapse" id="menu-0">
    <div class="mbr-navbar__section mbr-section">
        <div class="mbr-section__container container">
            <div class="mbr-navbar__container">
                <div class="mbr-navbar__column mbr-navbar__column--s mbr-navbar__brand">
                    <span class="mbr-navbar__brand-link mbr-brand mbr-brand--inline">
                        <span class="mbr-brand__logo"><img src="/static/home/images/logo.png" class="mbr-navbar__brand-img mbr-brand__img"></span>
                        
                    </span>
                </div>
                <div class="mbr-navbar__hamburger mbr-hamburger"><span class="mbr-hamburger__line"></span></div>
                <div class="mbr-navbar__column mbr-navbar__menu">
                    <nav class="mbr-navbar__menu-box mbr-navbar__menu-box--inline-right">
                        <div class="mbr-navbar__column">
                            <ul class="mbr-navbar__items mbr-navbar__items--right float-left mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-decorator mbr-buttons--active mbr-buttons--only-links"> <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-warning" href="/" target="_blank">Accueil</a></li> <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-warning" href="/statuts">Association</a></li> <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-warning" href="/annonces">Nouvelles &amp; Annonces</a></li> <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-warning" href="/mission">Mission</a></li> <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-warning" href="/joindre">Nous joindre</a></li>   </ul>
                            
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>