<section id="dropdown-menu-2btn-16">

    <nav class="navbar navbar-dropdown bg-color navbar-fixed-top" style="background-color:white">
    
        <div>

            <div class="navbar-brand">
                <a href="/" class="navbar-logo"><img src="/static/home/images/logo.png"  alt=""></a>
                <a class="text-white" href="">AMICQ</a>
            </div>
            
            <button style="color:orange" class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                ☰
            </button>

            <ul class="nav-dropdown collapse pull-xs-right navbar-toggleable-sm nav navbar-nav" id="exCollapsingNavbar">
                <li class="nav-item "><a class="nav-link link" href="/" aria-expanded="true">Accueil</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link link dropdown-toggle" href="/statuts" aria-expanded="true" data-toggle="dropdown-submenu">Association</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Vision</a>
                        <a class="dropdown-item" href="/mission">Mission et Valeurs</a>
                        <a class="dropdown-item" href="/statuts">Règlements intérieur</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link link" href="#" aria-expanded="true">Nos Programmes</a></li>
                <li class="nav-item"><a class="nav-link link" href="/annonces" aria-expanded="true">Nouvelles &amp; &nbsp;Annonces</a></li>
                <li class="nav-item"><a class="nav-link link" href="/joindre" aria-expanded="true">Nous joindre</a></li>
            </ul>

        </div>

    </nav>

</section>