<!DOCTYPE html>
<html>
<head>
  {% include 'home/head.html' %}
{% block head_scripts %}
  <script src="https://use.fontawesome.com/f46f0dfcfe.js"></script>
{% endblock %}
</head>
<body>
{% include 'home/navbar.html' %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--bg-adapted mbr-after-navbar" id="header1-10" style="color: black;">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center">

        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center">
                <div class="row">
                    <div class="col-sm-2 text-center">
                        <div class="hidden-xs" style="background-color:orange; min-height:40px; min-width:15%; padding:10px; position:fixed;">
                            <i class="fa fa-newspaper-o fa-2X"></i>
                        </div>
                        <div class="hidden visible-xs" style="background-color:orange; padding:inherit; padding-bottom: 10px; padding-top: 10px;">
                            <i class="fa fa-newspaper-o fa-2X"></i>
                        </div>
                    </div>
                    <div class=" col-sm-8">
                    <div class=" animated fadeInUp">
                        {% with title="Démarrage du site web de l'AMICQ" author="amicq" content="Bienvenue sur le site web de l'AMICQ. J'espère que vous apprécierez votre navigation." pub_date="24/02/17" %}

                            {% include "article.html" %}
                        {% endwith %}
                    </div>

                </div></div>
            </div></div>
        </div>
        <div class="mbr-arrow mbr-arrow--floating text-center">
            <div class="mbr-section__container container">
                <a class="mbr-arrow__link" href="{% url 'home:annonces' %}"><i class="glyphicon glyphicon-menu-down text-success"></i></a>
            </div>
        </div>
    </div>
</section>

{% include 'home/footer.html' %}


</body>
</html>