{% load static from staticfiles %}
<script src="{% static 'home/web/assets/jquery/jquery.min.js' %}"></script>
<script src="{% static 'home/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/smooth-scroll/SmoothScroll.js' %}"></script>
<script src="{% static 'home/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js' %}"></script>
<script src="{% static 'home/mobirise/js/script.js' %}"></script>
<script src="{% static 'home/dropdown-menu-plugin/script.js' %}"></script>

<script>
    $(document).ready(function(){
        // dropdown progressive enhancement. stops browser from following anchor tag href attribute.
        $('a.dropdown-toggle').click(function(e){
            e.preventDefault();
        })
    })
</script>