<!DOCTYPE html>
<html>
<head>
  {% include 'home/head.html' %}
{% block head_scripts %}
  <script src="https://use.fontawesome.com/f46f0dfcfe.js"></script>
{% endblock %}
</head>
<body>
{% include 'home/navbar.html' %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background mbr-after-navbar" id="header1-13" style="background-color: lightseagreen;">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
        
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched">
                <div class="mbr-box__magnet mbr-box__magnet--center-left">
                    <div class="row">
                        <div class=" col-sm-6 col-sm-offset-6">
                            <div class="mbr-hero animated fadeInUp">
                                <h1 class="mbr-hero__text">
                                    STATUTS ET RÈGLEMENTS INTERIEURS<br>
                                    <a style="color: red; font-family: inherit; text-decoration:none;" href="">
                                        <i class="fa fa-large fa-file-pdf-o" style="font-size:1.8em"></i> (Téléchargement)
                                    </a><br>
                                </h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-arrow mbr-arrow--floating text-center">
            <div class="mbr-section__container container">
                <a class="mbr-arrow__link" href="#footer1-14"><i class="glyphicon glyphicon-menu-down"></i></a>
            </div>
        </div>
    </div>
</section>

{% include 'home/footer.html' %}
  
  
</body>
</html>