.navbar-dropdown .link {color: orange}
.navbar-dropdown .link:hover {color: grey}
.mbr-after-navbar{
    padding-top: 80px;
}
@media screen and (max-width: 980px){
   .mbr-after-navbar {
       padding-top: 130px;
   }
   .nav-item {
    font-size: 0.8em;
   }
}

@media screen and (max-width: 768px){
   .nav-item {
    font-size: 1em;
   }
}